#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: 80%; */
    /* max-width: 600px; */
    /* background-color: lightslategray; */
    height: 60px;
}

#mPages {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#mPages img {
    margin-right: 2px;
    width: 140px;
    max-width: 170px;
}

#mPages a {
    margin-right: 15px;
    font-size: 15px;
    text-decoration: none;
    color: #FFF;
}
#mPages a:hover {
    font-size: 15px;
    text-decoration: none;
    color:#CCC;
    cursor: pointer;
    transition: all 0.8s;
}

#mEntrar a {
    font-size: 15px;
    text-decoration: none;
    color: #2B4748;
    margin-left: 30px;
}
#mEntrar a:hover {
    font-size: 15px;
    text-decoration: none;
    color:#003B33;
    cursor: pointer;
    transition: all 0.8s;
}