#stationDetail{
    font-size: 14px;
    color: #2B4748;
    padding: 20px 20px 20px 20px;
}

#ContainerFindResultColorAdmin {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 700px;
    margin-top: 0px;
    background-color: #F3F6F6;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}



