#footerContainer {
    width: 100%;
    border-top: #B5DCCF solid 1px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:0;
    /* margin-bottom: 60px; */
}

#txtContainer {
    font-size: 8px;
    color: #009F8C;
    letter-spacing: 5px;
    text-align: center;
    line-height: 25px;

}